
<mat-card class="clearfix">
	<mat-drawer-container class="matgrid-container" autosize>
		<div class="matgrid-sidenav-content">
			<div class="matgrid-header ">
				<span (click)="drawerNew.toggle()" class="float-left pointer matgrid-icon-item  " > <mat-icon>add_box_outline</mat-icon></span>
				<span (click)="drawerCols.toggle()" class="float-right pointer  matgrid-icon-item  " ><mat-icon>menu</mat-icon></span>
				<span (click)="drawer.toggle()" class="float-right pointer  matgrid-icon-item " ><mat-icon>search</mat-icon></span>
				<span  class="float-right pointer  matgrid-icon-item " (click)="getSelected()"><mat-icon>amp_stories</mat-icon></span>
			</div>

			<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
				<ng-container matColumnDef="Select">
					<th mat-header-cell *matHeaderCellDef>
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
						</mat-checkbox>
					</th>
					<td mat-cell *matCellDef="let row">
						<mat-checkbox (click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
							[aria-label]="checkboxLabel(row)">
						</mat-checkbox>
					</td>
				</ng-container>
				<ng-container *ngFor="let col of Columns" matColumnDef="{{col.name}}">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.name|titlecase}} </th>
					<td mat-cell *matCellDef="let element"> {{element[col.field]}} </td>
				</ng-container>

				<ng-container matColumnDef="Action">
					<th mat-header-cell *matHeaderCellDef> Action </th>
					<td mat-cell *matCellDef="let element">
						<span (click)="OnDetail(element)" class="pointer matgrid-icon-item"><mat-icon>launch</mat-icon></span>
						<span (click)="OnEdit(element)" class="pointer matgrid-icon-item"><mat-icon>edit</mat-icon></span>
						<span (click)="OnDelete(element)" class="pointer matgrid-icon-item"><mat-icon>delete</mat-icon></span>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
				</tr>
			</table>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


		</div>


		<mat-drawer #drawer class="matgrid-sidenav " mode="over" position="end">
			<p>Search
				<span  (click)="drawer.toggle()" class="btn-sm pointer float-right" ><mat-icon>close</mat-icon></span>
			</p>

			<form [formGroup]="searchForm" (ngSubmit)="onSearchSubmitt()">
				<div *ngFor="let field of searchColumns;">

					<div [ngSwitch]="field.searchFieldType" class="clearfix ">
						<div *ngSwitchCase="'string'">
							<div class="clearfix">
								<label class="float-left"> {{field.name |titlecase}} </label>
								<select [formControlName]='field.condition' class="search-input-type float-left">
             <option></option>
             <option value="C">Containes</option>
              <option value="S">StartsWith</option>
               <option value="E">EndsWith</option>
           </select>
							</div>
							<input  type="text" [formControlName]="field.name" class="search-input float-left">
         </div>
							<div *ngSwitchCase="'number'" class="clearfix ">
								<div class="clearfix">
									<label class="float-left"> {{field.name |titlecase}} </label>
									<select  [formControlName]='field.condition' class="search-input-type float-left">
              <option></option>
             <option value="eq">'=='</option>
              <option value="gt"> '<' </option>
               <option value="lt"> '>' </option>
           </select>
								</div>
								<input  type="number"  [formControlName]="field.name"  class="search-input float-left">
         </div>
								<div *ngSwitchCase="'date'" class="clearfix">
									<input  type="date" [formControlName]="field.name"  class="search-input float-left">
         </div>
									<div *ngSwitchCase="'selectSingle'" class="clearfix">
										<select  [formControlName]="field.name" class="search-input">
            <option></option>
            </select>
									</div>




								</div>

							</div>

							<div> <br/>
								<button type="submit"  class="btn-sm btn-primary">Apply</button>
								<input type="reset" (click)="resetDataSource()" class="btn-sm btn-secondary" />

    </div>
			</form>

		</mat-drawer>
		<mat-drawer #drawerCols class="matgrid-sidenav " mode="over" position="end">
			<p>Columns
				<span  (click)="drawerCols.toggle()" class="btn-sm pointer float-right" ><mat-icon>close</mat-icon></span>
			</p>
			<div *ngFor="let col of columnDef">
				<span  class="btn-sm  float-left" (click)="col.display=!col.display;loadDisplayColumns(false)" class="clearfix" >
            <span *ngIf="col.display" class="float-left pointer"><mat-icon>remove_circle_outline</mat-icon></span>
				<span *ngIf="!col.display" class="float-left pointer"><mat-icon>add_circle_outline</mat-icon></span>
				<span class="float-left pointer">	{{col.name |titlecase}} </span>
				</span>

			</div>

		</mat-drawer>
    <mat-drawer #drawerNew class="matgrid-sidenav " mode="over" position="start">			
        <div> Add New Data Form to be developed later 
          	<span  (click)="drawerNew.toggle()" class="btn-sm pointer float-right" ><mat-icon>close</mat-icon></span>
           </div>
        
		</mat-drawer>


	</mat-drawer-container>
</mat-card>