table {
  width: 100%;
}
.mat-column-select {
  overflow: visible;
}

.matgrid-container {
  width: auto;
  height: auto;
  min-height: 400px; 
 
  }

.matgrid-sidenav-content {
  
  height: auto;  
 
}
.matgrid-header{
  background-color: antiquewhite
  }
 .matgrid-icon-item {
   margin-left: 5px
 } 
.matgrid-sidenav {
  padding: 10px;
   background-color:white
   }

.pointer{
  cursor:pointer;
}  
.search-input{
  height: 20px;
  width: 150px;   
} 
.search-input-type{
   height: 20px;
  width: 80px;
  font-size: 0.8em;
  margin-left: 10px;
  border: 0;
  direction: rtl;
}
