<p>
mat-grid works!
</p>
 
<mat-drawer-container class="matgrid-container" autosize>
 
  <mat-drawer #drawer class="matgrid-sidenav clearfix" mode="over" position="end">
    <p>Search</p>   
    <div> 
    <button (click)="drawer.toggle()" class="btn-sm btn-info" mat-raised-button>
      Applay
    </button>
    <button (click)="drawer.toggle()" class="btn-sm btn-danger" mat-raised-button>
      Clear
    </button>
    </div>
  </mat-drawer>

 <div class="matgrid-sidenav-content">    
  <span (click)="drawer.toggle()" class="float-right " style="cursor:pointer;">
    <span class="glyphicon glyphicon-search"></span>
     Search</span>       
  <table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container> -->
   <ng-container matColumnDef="Select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container *ngFor="let col of Columns" matColumnDef="{{col.name}}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.name}} </th>    
    <td mat-cell *matCellDef="let element"> {{element[col.field]}} </td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
      <span (click)="OnDetail(element)">Detail</span> |
      <span (click)="OnEdit(element)">Edit</span> |
      <span (click)="OnDelete(element)">Delete</span>
       </td>
  </ng-container>  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 </div>


</mat-drawer-container>

