
<div [formGroup]="form">
  <section class="formgroup" style="margin-top:10px">
  <label [attr.for]="question.key" class="label">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'input'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type" class="formcontrol">

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" class="formcontrol">
      <option></option>
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div> 

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
  </section>
</div>